.comman-recipe-header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: white;
  font-family: "Arial", sans-serif;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 900px;
}

.comman-recipe-top h2 {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.comman-recipe-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.comman-recipe-top h2:hover {
  color: #ffe3d5;
  text-decoration: underline;
}

.comman-recipe-top button.comman-back {
  margin-top: 10px;
  background-color: #ff7e5f;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comman-recipe-header button.comman-back:hover {
  background-color: #feb47b;
}

.comman-recipes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.comman-recipe-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  max-width: 400px;
}

.comman-recipe-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.comman-recipe-title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.comman-recipe-summary {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

.comman-recipe-summary a {
  color: inherit;
  font-size: inherit;
  text-decoration: underline;
}

.comman-recipe-summary a:hover {
  color: rgb(41, 39, 39);
}

.comman-cooking-time {
  color: black;
}

.comman-difficulty {
  color: black;
}

.comman-ratings {
  color: black;
}

.comman-nutrition {
  color: black;
}

.comman-recipe-link {
  text-decoration: none;
  color: #ffd700;
  font-weight: bold;
  background: #555;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  display: inline-block;
  transition: background 0.3s ease-in-out;
}

.comman-recipe-link:hover {
  background: #ff7e5f;
  color: #fff;
}
